<% content_for :title, "Edit User" %>

<div class="container my-4">
  <%= render 'form', user: @user %>

  <div class="mt-4">
    <%= link_to "Back to users", users_path, class: "btn btn-secondary" %>
  </div>
</div>
