<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1 class="text-center mt-4">User List</h1>

<div id="users" class="container">
  <div class="row justify-content-center">
    <% @users.each do |user| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <%= render 'user', user: user %>
      </div>
    <% end %>
  </div>
</div>
