<% content_for :title, "Editing cat" %>

<div class="container my-5">
  <h1 class="mb-4">Editing Cat</h1>

  <%= render "form", cat: @cat %>

  <div class="mt-3">
    <%= link_to "Cancel and Return to cats", cats_path, class: "btn btn-secondary" %>
  </div>
</div>
